body{
    margin: 0;padding: 0;
    background-color: #212121;
    height: 100vh;
}
span{
    background: url("https://cdn0.iconfinder.com/data/icons/expenses-vs-income/30/__beauty_health_cosmetics_heart-512.png");
    width: 200px;
    height: 200px;
    position: fixed;
    background-size: cover;
    pointer-events: none;
    left: 40%;
    top: 36%;
    transform: translate(-10%, -10%);
    animation: animate;
}
@keyframes animate {
    0%{
        transform : translate(-10%,-10%);
    }
    100%{
        transform : translate(-10%,-1000%);
        opacity: 0;
    }
    
}
